* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #1f2937;
  color: white;
}

button {
  background-color: #3882f6;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2937;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.right {
  float: right;
}

.flex-container div {
  display: flex;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary-text,
.header-link-text {
  font-size: 19px;
  color: #e5e7eb;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.information-header-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900ß;
  padding: 25px 0px 25px 0px;
}

.quote-background {
  background-color: #e5e7eb;
  padding: 75px 250px 75px 250px;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.bold-text {
  font-weight: 900;
  font-size: 24px;
  text-align: right;
}

.container-1 {
  display: flex;
  justify-content: space-around;
  padding: 4.5em 0em 2.5em 0em;
}

.container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 125px;
}

.image-container {
  display: flex;
  gap: 75px;
}

.flex-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  width: 300px;
}

.flex-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 300px;
  width: 300px;
}

.image-box {
  width: 150px;
  height: 150px;
}

.footer-flex {
  margin-top: auto;
  padding: 1em 0 1em 0;
}

.footer-body-flex {
  display: flex;
  justify-content: center;
}
